# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2019 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include *.py *.sh
include *.rst
include *.txt
include .coveragerc .travis.yml pytest.ini
include .editorconfig
include docs/*.rst docs/*.py docs/Makefile docs/requirements.txt
include LICENSE
include tests/*.ini tests/*.py
include tox.ini
